[2020-12-31 15:20] alx696 opened #24 "Shared lib work in ubuntu but not in docker based alpine"
Same code and dockerfile, `github.com/tecbot/gorocksdb` works, grocksdb not. Does it support alpine?

Development environment works:
[code]

Dockerfile not:
[code]

If use [Static lib](https://github.com/linxGnu/grocksdb#default---builtin-static-linux-only), build failure. Without `-tags` build ok, but can not run.

<details>
 <summary>Error</summary>
pthread set mutex attr: Invalid argument
SIGAB

[2020-12-31 15:32] linxGnu commented on #24
@alx696 thank you very much for trying grocksdb.

Yeah, builtin static lib at the moment is limited to libc, not musl compatible with alpine.

So, I think you could:
- Build rocksdb as static lib inside your alpine image
- Build grocksdb and your application: `go build -tags static`

Or, if you want shared lib:
- Build rocksdb as shared lib inside your alpine image
- Build grocksdb and your applic

[2021-01-03 10:49] alx696 commented on #24
@linxGnu Thanks very much for your response. After add CGO_CFLAGS and CGO_LDFLAGS, it works.

Dockerfile:
[code]

Shared library is smaller than static lib, especially in alpine. And [rocksdb packages in alpine](https://pkgs.alpinelinux.org/packages?name=rocksdb&branch=edge) is also compiles shared library.

No need to `go get -u github.com/linxGnu/grocksdb` when Using Go Modules. Just install Roc

[2021-01-03 10:50] #24 closed

[2021-03-19 08:39] muXxer opened #28 "Support for Eventlistener?"
Hello!

First I really like to thank you for your awesome work.
This is outstanding!

We will switch our open source project after months of trying badger, boltdb, pebbledb to your lib I guess.
For our usecase rocksdb it much faster with less CPU and Memory usage.

The only thing I can't find is a way to register the EventListener:
https://github.com/facebook/rocksdb/blob/29e8f6a698acf0d00d88f21a2

[2021-03-20 16:06] svenger87 opened #29 "Compiler error on arm64 / rpi"
I´m trying to compile the project mentioned in #28 on a raspberry Pi4 running ubuntu 20.10 arm64.

The compiler interrupts with

`/root/go/pkg/mod/github.com/linx!gnu/grocksdb@v1.6.32/backup.go:44:13: could not determine kind of name for C.rocksdb_backup_engine_open_opts
/root/go/pkg/mod/github.com/linx!gnu/grocksdb@v1.6.32/backup.go:136:2: could not determine kind of name for C.rocksdb_backup_eng

[2021-03-21 00:59] linxGnu commented on #28
@muXxer I am afraid that it's not possible at the moment now. RocksDB has not expose any `C` extern func for this feature yet.

May I ask you why you need this kind of functionality? For stats/metrics monitoring?

[2021-03-21 01:02] linxGnu commented on #29
@svenger87 could you please describe more how you install rocksdb:
- Which version of rocksdb?
- Shared or Static?
- How you link `grocksdb` to shared/static rocksdb lib

There is no builtin-static lib for arm64 at the moment. So, please make sure that you install rocksdb before building `grocksdb`.

[2021-03-21 01:41] muXxer commented on #28
Before using your lib we used pebbledb, and there we have callbacks when the compaction starts and ends, which we expose via prometheus/grafana to show some metrics.

This way we can clearly see why the disc is under high low when the compaction starts.
I was just wondering if that may be possible with rocksdb as well. :)

![image](https://user-images.githubusercontent.com/32371094/111890967-c5483

[2021-03-21 01:54] linxGnu commented on #28
@muXxer that's totally make sense. In this way, I guess you could parse statistic to get those metrics.

Please kindly refer to this document: https://www.bookstack.cn/read/rocksdb-en/b0fd8fb2013f7771.md#RocksDB%20statistics

And use following function: https://github.com/linxGnu/grocksdb/blob/22c6c96a4a2c28e56e5c9c1708e465493dec1028/db.go#L832

You have to parse the statistic before real using. B

[2021-03-21 01:57] linxGnu commented on #28
Another document you might want to take a look: https://github.com/facebook/rocksdb/wiki/Statistics

[2021-03-21 02:07] linxGnu commented on #28
In this way, everytime Prometheus invoke your http endpoint to scrape your metrics, you might:
1. Get `rocksdb.stats`
2. Parsing -> metrics
3. Update that metrics
4. Invoke prometheus handler

Simpler way: write a custome Prometheus metric collector. With custom collector, you don't have to do above 4 steps

[2021-03-21 07:36] svenger87 commented on #29
Thanks for your answer so far.

It already fails for the go get.
I compiled rocksdb from source.

[code]

[2021-03-21 08:09] linxGnu commented on #29
@svenger87 as your rocksdb version (6.5.3), I think you should use this version of `grocksdb`: https://github.com/linxGnu/grocksdb/releases/tag/v1.6.11

Please try:
[code]

[2021-03-21 08:34] svenger87 commented on #29
@linxGnu i recompiled to 6.16.3 and get the same.
dpkg -s librocksdb-dev
Package: librocksdb-dev
Status: install ok installed
Priority: optional
Section: misc
Installed-Size: 804
Maintainer: None <none@example.com>
Architecture: all
Source: librocksdb
Version: 6.16.3-deb3-1
Depends: librocksdb (= 6.16.3-deb3-1)
Description: RocksDB Key-Value database (development files)

[2021-03-21 08:36] linxGnu commented on #29
@svenger87

Could you please try this:
[code]

[2021-03-21 08:44] linxGnu commented on #29
Just one more thing, as I see your upgraded to rocksdb 6.16.3. I think you could use latest version of `grocksdb`. I hope you could build it fluently.

Please let me know if I could help

[2021-03-21 08:45] svenger87 commented on #29
1.6.11 is working. But as soon as i try to fetch a more recent version i get the errors above.
1.6.32 is needed for a depencency. So i can´t really go with a lower version.

[2021-03-21 08:51] linxGnu commented on #29
Yeah, as I remember: from rocksdb 1.1x, there are breaking changes. That's why you should use proper version of `grocksdb` for `rocksdb 1.1x`.

I am sorry, I don't have arm64 device here to help you. So, currently:
- 1.6.11 works for you with your rocksdb 6.5.3?
- 1.6.32 not work for rocksdb 6.16.3?

Could you please confirm your current situation. I see the mix of issue reporting. First: rocksdb

[2021-03-21 08:56] svenger87 commented on #29
1.6.11 is working for both. With 6.5.3 and 6.16.3.
1.6.32 and lower versions throw the errors during go get.

[2021-03-21 09:35] linxGnu commented on #29
@svenger87 I could `go get` pretty well with my current ubuntu 20.04 ARM

[code]

[code]
Built rocksdb with this script:
[code]

Noted:
- Above script build all dependencies within `/usr/local`
- Above script build static version of rocksdb. You could build share libs as well.

Then
[code]

No problem

[2021-03-21 11:32] svenger87 commented on #29
Okay. go get is working now. No i have tons of other errors compiling the binary i want to build. 🛠️

Thanks for your help so far. Much appreciated.

[2021-03-21 11:39] svenger87 commented on #29
I was missing gccgo. Fixed.

[2021-03-21 11:39] #29 closed

[2021-03-22 01:31] muXxer commented on #28
Thank you very much for all your help. I got it running with `GetIntProperty("rocksdb.num-running-compactions")` :)

[2021-03-22 01:32] #28 closed

[2021-05-10 04:45] hiqsociety opened #33 "production ready?"
is this used in production?

[2021-05-10 04:48] linxGnu commented on #33
@hiqsociety thank you for asking.

Yes, its production ready. We had been using grocksdb for heavy workloads.

[2021-05-10 05:12] hiqsociety opened #34 "would like to explore this https://github.com/bytedance/terarkdb"
possible to provide instructions on how to use terarkdb with grocksdb?

installation for ubuntu 20.04 environment

[2021-05-10 05:40] linxGnu commented on #34
From my point of view, `terarkdb` is like a fork of RocksDB: https://github.com/bytedance/terarkdb#0-what-is-terarkdb

I don't know if definition binding in my lib is compatible with `terarkdb`. You could give it a try by building `terarkdb` with grocksdb:
[code]

[2021-05-11 08:00] hiqsociety commented on #34
CGO_CFLAGS="-I/usr/local/src/terarkdb/output/include" CGO_LDFLAGS="-L/usr/local/src/terarkdb/output -Wl,-Bstatic -lterarkdb -lbz2 -ljemalloc -llz4 -lsnappy -lz -lzstd -Wl,-Bdynamic -pthread -lgomp -lrt -ldl -laio" go build testrock.go
# runtime/cgo
/usr/bin/ld: /usr/lib/gcc/x86_64-linux-gnu/10/../../../x86_64-linux-gnu/libjemalloc.a(prof.o): in function `je_prof_sample_threshold_update':
(.text+0x

[2021-05-11 08:06] hiqsociety commented on #34
with your command i get...

[code]

[2021-05-11 09:51] hiqsociety commented on #34
i disabled the rocksdb compilation under build.sh,
removed the dist/librocksdb.a

root@rocksdb:/usr/local/src/src# CGO_CFLAGS="-I/usr/local/src/terarkdb/output/include" CGO_LDFLAGS="-L/usr/local/src/terarkdb/output -Wl,-Bstatic -lterarkdb -lbz2 -llz4 -lsnappy -lz -lzstd -Wl,-Bdynamic -pthread -lgomp -lrt -ldl -laio -lm" go build testrock.go

[code]

[2021-05-11 09:55] linxGnu commented on #34
@hiqsociety hello, I think there is lag in api between telerak and rocksdb

I will describe it in easy way:
- rocksdb 6.xx has `rocksdb_backup_engine_open_opts`
- while terarkdb does not have this api `rocksdb_backup_engine_open_opts`

That's why you see above error:
[code]

In this way, I believe `grocksdb` is not a good choice for `terarkdb`. If you want to support `terarkdb`, please feel free t

[2021-05-11 10:00] linxGnu commented on #34
@hiqsociety one more thing:
- `grocksdb` embed a builtin static library for other to use. In your case, please don't use it
- `grocksdb` provide docker for internal build of this builtin -> it has nothing to do with your case
- `build.sh` is script to build libs inside container, it generates builtin libs -> nothing to do with your case

So please:
- Use shared library mode: https://github.com/lin

[2021-05-11 10:18] linxGnu commented on #34
@hiqsociety yes, I am sure that terarkdb is behind a lot from rocksdb (in term of api support)

you could remove all apis above from my lib to build with terarkdb.

[2021-05-11 13:32] linxGnu commented on #34
@hiqsociety nice to hear you made it build successfully.

Unfortunately, I dont know about zip feature of terark. Just a guess, did you miss dependency while building terark.

I am sure that it does not relate to grocksdb.

[2021-05-11 13:46] linxGnu commented on #34
@hiqsociety you are missing “boost” linking. Please install libboost :)

you could also find it here:
https://www.boost.org/

[2021-05-11 14:18] linxGnu commented on #34
Could you please publish your current fork, I would try to continue what you miss.

[2021-05-11 14:23] hiqsociety commented on #34
i'm running on mobile data, and i'm limited with total 1gb sending. i will send u tml within 14 hours. thx a lot.

[2021-05-12 00:38] #33 closed

[2021-05-12 00:44] linxGnu commented on #34
@hiqsociety you don't need to give me your compiling project.

AFAIK, you perform removal of many apis (that `rocksdb` has but `terark` does not have). In this way, I need your github fork of `grocksdb` to continue. I would try to build `terark` myself.

And just a note: It's out of scope, `grocksdb` does not need to support `terark`. And I am not available 24/7, I could only help you when I am fr

[2021-05-12 01:01] hiqsociety commented on #34
https://github.com/hiqsociety/grockdb

[2021-05-12 13:12] hiqsociety commented on #34
hi, any feedback?

[2021-05-13 11:41] hiqsociety commented on #34
need help? is it working with my github version?

[2021-05-14 08:32] hiqsociety commented on #34
dunno why i'm getting this

with command
#CGO_CFLAGS="-I/usr/local/src/src/terarkdb/output/include" CGO_LDFLAGS="-L/usr/local/src/src/terarkdb/output -Wl,-Bstatic -lterarkdb -lboost_fiber -lboost_context -lbz2 -llz4 -lsnappy -lz -lzstd -Wl,-Bdynamic -pthread -lgomp -lrt -ldl -laio -lboost_fiber -lboost_context -lm" go build -ldflags "-s -w" testrock.go

how do i get boost fibers to be compiled ins

[2021-05-15 02:49] hiqsociety commented on #34
is it because i'm using gcc10?

[2021-05-16 13:00] hiqsociety commented on #34
any issues with my github repo compilation?

[2021-05-16 13:08] linxGnu commented on #34
@hiqsociety I was busy with company jobs as I already told you.

Please stop pushing me through issue channel. I dont think its good manner.

I will try terarkdb next week and let you know. But once again, please understand that grocksdb has nothing to do with terarkdb.

[2021-05-16 14:30] hiqsociety commented on #34
thank you! will wait for ur reply. appreciate this.

[2021-05-17 03:04] hiqsociety opened #35 "Possibility to add strict_capacity_limit option?"
for NewLRUCache, how to set strict_capacity_limit in grocksdb?

great piece of software. big fan of yours.

[2021-05-17 12:03] hiqsociety opened #36 "how do u do v:=value.Data() , value.Free() without losing "v" value?"
how do u do
v:=value.Data()
value.Free()

fmt.Printf("v = %v\n",v) // <- from here onwards, "v" is lost. how to prevent v from being lost?
this shld be mentioned as part of the caveats of this module coz it took me some time to realise this was the case and it was not obvious

[code]

[2021-05-19 08:52] linxGnu commented on #34
@hiqsociety I did try to install and link terarkdb at my end. However, I could not make it success.

As far as I could tell: terarkdb (with zip) build with https://github.com/bytedance/terark-zip
This include a `custom` version of `boost`. That's why installing `libboost-all-dev` won't solve anything.

Please ask `terarkdb` authors for this.

[2021-05-19 08:53] linxGnu commented on #35
Hi, I don't think it's the scope of library. Setting limits should be the duty of application which use `grocksdb`

[2021-05-19 08:55] linxGnu commented on #36
Yup, you should clone it:
[code]

Now `b` is value you want

[2021-05-19 09:08] hiqsociety commented on #36
defer is expensive and calling a new b:=make([]byte,value.Size()) seemed a bit redundant. any ways to minimize this overhead?

[2021-05-19 09:09] hiqsociety commented on #34
1. without terark-zip works right?
2. ok will check on the boost.

[2021-05-19 09:34] linxGnu commented on #36
@hiqsociety you could remove `defer` if you want. I updated my comment above with the removal.

Since `db.Get` api hold underlying mem which allocated at cgo, go runtime has nothing to do with it and we have to manage ourself.

That's why clone is needed if you want to pass the value around (pass to other routine, use it later, etc). This pattern is quite common in cgo universe. You should be care

[2021-05-19 09:34] #35 closed

[2021-05-19 09:36] linxGnu commented on #34
From what I could tell:
1. Without terark-zip, `maybe` no problem (did not try it)
2. I don't like the way terark-zip did with custom version of boost.

[2021-05-19 09:42] hiqsociety commented on #34
1. i tried it, seemed to work
2. https://github.com/bytedance/terark-zip can u check here?
it is also available here.
https://github.com/bytedance/terarkdb/tree/dev.1.4/third-party

according to u, then apt install libboost* etc is not needed. but how do we compile it to work?

[2021-05-19 09:51] linxGnu commented on #34
@hiqsociety

2. Build success because terarkdb itself just compile but not static build with boost. Boost is linked at runtime.
3. Note: compile <> linking

However, `terark-zip` maintains its own custom version of boost, there are many methods that does not exists in upstream boost library. That's why linking to `libboost*` won't help.

In this way, we must build that custom version, and install

[2021-05-19 12:07] hiqsociety commented on #34
can u try help figure out?
it's inside terark-zip/3rdparty folder here
https://github.com/bytedance/terarkdb/tree/dev.1.4/third-party

i've compiled but not sure how to link it properly.

[2021-05-20 04:34] #36 closed

[2021-05-20 13:48] hiqsociety commented on #34
i can build it too. not sure if it's really using the terardb-zip (dunno how to verify)

but... do u know how to build this for myrocks?

http://myrocks.io/docs/getting-started/

where can i contribute the coffee? i can buy u more coffees if u can get myrocks compiled too. really appreciate your help. u are one of the best if not the best

[2021-05-20 13:55] linxGnu commented on #34
Great to hear that you could build with terarkdb now.

Thank you for your kind. However, please feel free. No need to worry about coffee or donation.
I appreciate your attitude.

About myrocks, I dont have any knowledge about it. And I am afraid that I could not help you.

I know that myrocks is built upon mysql and rocksdb. But never tried it before.

[2021-05-20 15:18] hiqsociety commented on #34
I really hope u hv a place to make donations / buy coffee for to show my appreciation. this took 10 days for me for get it compiled with ur instructions.

pls put a place to accept sponsor / donations / use case logos etc. to show the support the community have for ur work because words cant express my gratitude.

thx for the feedback on myrocks.

[2021-05-21 02:50] #34 closed

[2021-05-22 05:22] hiqsociety commented on #34
u hv ./build.sh twice inside Dockerfile. is it necessary?

https://github.com/linxGnu/grocksdb/blob/try_terark/docker/Dockerfile#L12-L20

[2021-05-22 05:32] linxGnu commented on #34
Yup, there is bug in build script of terark-zip. Sometime their custom boost fail to build. Thats why I have to build it …. twice @hiqsociety

[2021-05-24 09:51] hiqsociety commented on #34
needed to compile with the latest zstd, i git clone into third-party/zstd and got the below when i tried ./build.sh

how do i resolve this? any ideas? i tried apt install libjemalloc-dev and ran ./build.sh but still not working.

make[2]: *** No rule to make target 'lib/libjemalloc.a', needed by 'hash_table_bench'.  Stop.
make[1]: *** [CMakeFiles/Makefile2:381: CMakeFiles/hash_table_bench.dir/all]

[2021-05-24 10:29] linxGnu commented on #34
@hiqsociety I think it's totally out of scope for supporting. Please ask terarkdb team for this. zstd is terarkdb dependency. It should be their duty to answer your question.

[2021-05-24 12:29] hiqsociety commented on #34
ok thx,

[2021-05-24 14:47] hiqsociety commented on #34
sorry pls one last question.

this go build clashed with the terarkdb's zstd. can u give an idea how to resolve this?
github.com/valyala/gozstd

[code]

[2021-05-25 00:43] linxGnu commented on #34
@hiqsociety https://github.com/valyala/gozstd/blob/master/libzstd_linux_amd64.go

valyala/gozstd attach its own version of zstd lib (in static format) which will break terarkdb zstd static lib.

Please try another zstd binding

[2021-05-25 01:05] hiqsociety commented on #34
ok thx

[2021-05-25 01:34] hiqsociety commented on #34
i get this error with
can u verify if iterator works with your version?
not sure what's happening with
_Cfunc_rocksdb_iter_seek()

                 it := dbE.NewIterator(roE)
                 //it.Seek([]byte("PSKcJxPyvhiSzEcmdlYDHdFVVoMfsRPP`"))
1714:        it.Seek(nil)

[code]

[2021-05-25 02:26] linxGnu commented on #34
@hiqsociety I think it's terarkdb bug/spec that does not handle nil/blank key slice while seeking.

[2021-05-25 07:03] hiqsociety commented on #34
hv u tried it?

[2021-05-25 07:13] linxGnu commented on #34
@hiqsociety yup, I tried with rocksdb, no problem while iter.seek(nil).

if you face that issue with terarkdb, I think you should ask them instead.

[2021-06-02 14:56] hiqsociety opened #38 "what is the this : Default column family not specified"
how do i specify default column family name?

[code]

[2021-06-03 04:25] #38 closed

[2021-06-03 04:30] hiqsociety opened #39 "You have to open all column families"
Why do you need to open all column families when all i need to do / work on is the only 1 i want to use?

Any ways to work around?

[2021-06-03 05:20] hiqsociety commented on #39
how do i achieve OpenDBColumnFamily without inserting all CFs?

[2021-06-03 18:34] hiqsociety opened #40 "How do you do GetCfHandle() ?"
Possible to provide the code to add this function in?

[2021-06-03 23:28] linxGnu commented on #39
@hiqsociety it's required by rocksdb ffi to open all of your column families. To get all column families before opening, you could use following function:
https://github.com/linxGnu/grocksdb/blob/master/db.go#L376

If you only want to use `default` column family only, just open db without specifying column family.

[2021-06-03 23:30] linxGnu commented on #40
@hiqsociety what functionality do you really want?

[2021-06-04 00:29] hiqsociety commented on #40
sorry for asking, but saw this
cfhandle := GetCFHandle("something") <- returning the cfhandle for the name

https://github.com/bitleak/kvrocks/blob/cdb0ccedd36f21432977b8a9d0bac7f4a2a1e84e/src/storage.cc#L445

not sure if it's possible with default rocksdb function

[2021-06-04 00:30] hiqsociety commented on #39
what if i want to open a column family which i have declared without opening all column familiies? which is the GetCFHandle("something") i mentioned in my other issue.

[2021-06-04 00:45] hiqsociety commented on #40
because i dont want to list all the cfnames and then just to open one.

[2021-06-06 10:01] hiqsociety opened #41 "is it necessary to Free() value?"
func() {
 value:=db.Get()
// value.Free() <- is this necessary?
}

what if i dont free it?

[2021-06-08 07:43] hiqsociety opened #42 "opening more than 11 column families results in error"
cfNames = []string{"default", "m", "v", "c", "e", "x", "k", "l", "s", "h", "z", "bxb"}
                        //cfNames = []string{"default", "m", "v", "c", "e", "x", "k", "l", "s", "h", "z", "b", "p"}
                        dbr[i], cfh, err = gorocksdb.OpenDbColumnFamilies(opts[i], defaultDBDir+"/d/"+ks, cfNames, []*gorocksdb.Options{opts[i], opts[i], opts[i], opts[i], opts[i], opts[i], opts[i]

[2021-06-08 07:52] linxGnu commented on #41
@hiqsociety It's mandatory to do so. Or you will leak mem overtime

[2021-06-08 07:53] linxGnu commented on #40
There is no functionality like this exposed by RocksDB @hiqsociety

[2021-06-09 11:09] hiqsociety commented on #40
ok. any ideas if we can achieve this with golang? otherwise need to write the code of
https://github.com/bitleak/kvrocks/blob/cdb0ccedd36f21432977b8a9d0bac7f4a2a1e84e/src/storage.cc#L445
in?

[2021-06-09 11:09] hiqsociety commented on #41
ok thx. no wonder the mem is... increasing.
pls do mention this in doc. thx

[2021-06-09 11:09] #41 closed

[2021-06-17 01:14] linxGnu commented on #40
@hiqsociety It's impossible if rocksdb does not support this functionality. At the moment, it doesn't.

Your sample code above:
[code]

`cf_handles_` are opened column families while opening the db.

[2021-06-17 01:32] linxGnu commented on #42
@hiqsociety please sure that number of column family option and number of column family is the same. I could open 16 column families or more without any problem.

PTAL: https://github.com/linxGnu/grocksdb/blob/test_open_many/cf_test.go#L14-L36

[2021-06-27 22:14] #42 closed

[2021-06-28 00:23] #40 closed

[2021-06-28 00:23] hiqsociety commented on #40
thx

[2021-07-08 08:11] hiqsociety opened #43 "I've looked at options.go but do you know if there's a way to access the WAL records/content?"
i would like to manually get the lines of WAL records / content to use as a customized replication log for rocksdb replication.

do you know how i can access wal? i can provide the code of which to do replication once i'm done with it

[2021-07-08 10:56] hiqsociety opened #44 "can u verify opening 12 column families and not crashing?"
cfName is 12 items, if i created 11, it will work, but at 12, it will crash. can u try?

dbr, cfh, err = gorocksdb.OpenDbColumnFamilies(opts[i], "/d/a", cfNames, []*gorocksdb.Options{opts[i], opts[i], opts[i], opts[i], opts[i], opts[i], opts[i], opts[i], opts[i], opts[i], opts[i], opts[i]})

crashed at this last line
[code]

[2021-07-13 00:39] linxGnu commented on #44
@hiqsociety I have no problem of opening 11, 12, 13 column families.

Please find my example below:

[code]

[code]

Including `default`, there are 13 column families.
Therefore, you must preprare 13 opts:

[code]

[2021-07-13 00:39] #44 closed

[2021-07-13 00:47] linxGnu commented on #43
I am afraid that you can't get WAL contents. By default, Rocksdb opens up many WAL files at the same time.

One way to perform replication is over: snapshot / restore. You could search for it.

[2021-07-13 15:12] hiqsociety opened #46 "do i hv to value.Free() if i declared but didnt use it?"
sorry to ask something here. great work. using grocksdb now. will credit your work.

[code]

[2021-07-16 04:36] hiqsociety opened #47 "Do you have a transaction tests for column families?"
possible to provide example on how to achieve transactions with column families? and/or optimistic transactions with cf too. thx

mentioned coz i didnt see any test with examples inside.

[2021-07-28 11:04] hiqsociety opened #48 "hi, this file is not available. can you pls provide it again?"
https://github.com/linxGnu/grocksdb/blob/try_terark/docker/Dockerfile#L12-L20

thx

[2021-07-28 11:05] #46 closed

[2021-07-28 22:15] #43 closed

[2021-07-28 22:17] linxGnu commented on #48
Ah yes, I deleted `try_terark` branch long time ago. Once again, I don't think I `grocksdb` should support `terarkdb` at any corner.
Could you please make it yourself.

[2021-07-28 22:17] #48 closed

[2021-07-28 22:19] linxGnu commented on #47
@hiqsociety please refer to rocksdb documentation: https://github.com/facebook/rocksdb/wiki/Transactions

[2021-07-29 09:50] hiqsociety commented on #48
what's the dockerfile like? sry pls provide it again

why did u delete terarkdb just curious?

[2021-07-29 11:53] linxGnu commented on #48
@hiqsociety the dockerfile is for quick setting up env and try to install terark.

However, supporting terarkdb is not my duty and reponibility. There is no reason to keep that broken branch in the repository.

if you want it, you should request me to keep it long time ago. Actually, I kept that branch for months, but no request of keeping it.

[2021-08-01 14:18] savsgio opened #49 "TransactionDB is not safe-concurrent on writes!"
Hi @linxGnu,

When I write into the same rocksdb file with 2 gorutines, i have this unexpected panic.

[code]

[code]

[code]

[2021-08-01 14:26] savsgio commented on #49
The panic is only raise when write into  a transaction. If i write into db directly works fine.

[2021-08-03 23:32] linxGnu commented on #49
@savsgio I believe opening `TransactionDB` and `DB` is not a good practice and `rocksdb` also not recommend that. Please use either `TransactionDB` or `DB`, not both.

[2021-08-06 18:46] hiqsociety commented on #42
seems like it doesnt work if you use terarkdb.
can u try it and see what i mean?

[2021-08-09 14:20] hiqsociety opened #50 "Possible to provide a usage on wal's GetBatch?"
how do you use getbatch or access wal logs?
sorry cant seem to find any examples online and no tests on this.

[2021-08-14 09:39] hiqsociety opened #51 "hi can you be kind enough to re-provide the docker file again?"
can you pls provide the terarkdb docker file for reference? thx in advance.

[2021-08-14 09:52] linxGnu commented on #51
Hello @hiqsociety

`terarkdb` is not my responsibility. Please ask `terarkdb` team to support your build.

Once again, let's say:
1. I already did provide `terarkdb` toy-building and leave it as a `branch` for a while
2. You did not ask me to keep or anything else.
3. There is no reason why you continue to ask me to support a kind of broken product like `terarkdb`
4. `terarkdb` build documentation

[2021-08-14 09:52] #51 closed

[2021-08-14 09:52] #47 closed

[2021-08-14 09:53] #49 closed

[2021-08-15 17:53] superdolt commented on #51
ok thx. appreciate your feedback i didnt know u would delete the branch that's all. because you also didnt mention you wouldnt.

[2021-08-15 17:55] hiqsociety commented on #51
ok thx. appreciate your feedback i didnt know u would delete the branch that's all. because you also didnt mention you wouldnt.

anyhow, thank you for helping to get it to work. if you have the branch, pls do zip it and post it online so we can back reference.

really appreciate this. great work on grocksdb. it's impressive.

[2021-08-15 18:00] superdolt commented on #51
can u pls share why u say terarkdb is broken? TerarkDB is compatible with RocksDB 5.x.

other than that, it doesnt support all features of the latest rocksdb version that's all

[2021-09-13 02:51] binyoyo opened #52 "Can't call the method "CreateColumnFamilyWithTTL", build error _Ctype_int errorr"
in project，call the method CreateColumnFamilyWithTTL, build error _Ctype_int

![image](https://user-images.githubusercontent.com/3898451/133016788-2af321c2-d2af-45ee-82b2-64a5e5d9ed79.png)

![image](https://user-images.githubusercontent.com/3898451/133016549-d1371660-197e-4d15-90e9-70e907c497ea.png)

i change the package code param type (C.int to int), and in the project call the method by int par

[2021-09-13 03:04] linxGnu commented on #52
oh thank you for pointing out. I will update the function signature and let you know

[2021-09-13 06:38] linxGnu commented on #52
@binyoyo I have just release v1.6.38 which fixes the function signature. PTAL

[2021-11-02 16:44] xrpdevs opened #54 "1.6.34 build scripts."
Build is failing and package ignores -tags builtin_shared and defaults to only ever using the prebuilt libs in ./dist

Why are binaries included in the SOURCE package?

The libs included are compiled for a system that has AVX2 support, meaning that when used on any system that doesn't have AVX2, we get "Illegal Instruction" errors.

[2021-11-02 16:48] xrpdevs commented on #54
Has the build system been corrected in any later versions?

From what I could see, either grocksdb or one of the dependencies that the build scripts download are unable to install files to system areas (there is an error that says "do you need administrative access"

if we're just building stuff to be included in a go package, we shouldn't be trying to install it into system directories.

[2021-11-03 01:52] #52 closed

[2021-11-03 01:52] #50 closed

[2021-11-03 01:56] linxGnu commented on #54
@xrpdevs Could you please give me your steps/script of building? There is no `builtin_shared` tag like you said. And `grocksdb` basically encourage building with shared lib rather than `builtin_static` lib.

To use pre-built lib, you need to understand the abi compatibility with your local runtime.

[2021-11-03 03:30] xrpdevs commented on #54
Hi, and thanks for getting back to me on this.

I meant builtin_static rather than builtin_shared.

If you don't specify "-tags builtin_static" grocksdb still uses the pre-compiled builtin static libs.

This is why projects like AvalancheGo which have grocksdb as a dependency can't run on machines that don't support AVX2 instruction set if they use grocksdb as a database wrapper.

If you try to bu

[2021-11-03 03:36] xrpdevs commented on #54
To get libzstd.a built with -march=native I had to interrupt the build process before temp files are deleted, move it out of the build dir, then restart process.

Because this is failing, only way I could make this work using the static libs was to manually copy them into the ./dist folder of the go package cache /pkg/mod/github.com/linxGnu/

As far as I can tell there is no option to use system s

[2021-11-03 03:50] xrpdevs commented on #54
FWIW, including pre-compiled static libraries in a source package is probably not a very good idea from a security standpoint (especially when we're unable to use the system libraries due to build script only using the included libs) as there is no easy way to verify that the executables don't contain malicious code.

[2021-11-03 03:57] linxGnu commented on #54
@xrpdevs yup I know and agree with your points about security. Thats the reason why I dont highlight this method in README. Prebuilt lib is my own purpose for my own business.

What I recommend is “shared_lib”. Not builtin static lib. And you touch my prebuilt static lib if and only if you enable tag “builtin_static”. By default, go compiler would invoke linker and try to find shared lib.

Therefo

[2021-11-03 04:00] linxGnu commented on #54
And to build rocksdb shared lib, its not the duty of grocksdb. Please also kindly refer to rocksdb guideline. You could find it at rocksdb wiki, written by rocksdb author.

[2021-11-03 04:03] xrpdevs commented on #54
I know it's not the purpose of grocksdb to build RocksDB, but again, the point I am trying to make, is that if "-tags builtin_static" isn't specified, grocksdb still uses the builtin static.

[2021-11-03 04:06] linxGnu commented on #54
@xrpdevs No, “without” the tag, your build would link to shared lib, NOT builtin static.

As I said, you only touch my builtin IF AND ONLY IF you specify the tag

[2021-11-03 04:19] xrpdevs commented on #54
Then why do I still get "Illegal Instruction" error when I omit -tags builtin_static ?

From [](https://docs.avax.network/build/references/command-line-interface)

"Two important notes about RocksDB: First, RocksDB does not work on all computers. Second, RocksDB is not built by default and is not included in publicly released binaries."

There is no reason that RocksDB can't run on any 64 bit CPU.

[2021-11-03 04:42] linxGnu commented on #54
@xrpdevs I wonder why you conclude illegal instruction come from my prebuilt static lib. Did you try to remove “dist” folder to see what happen?

if linker links to my lib, you will see file not found err. If you still have illegal instruction, then please check your shared lib.

[2021-11-03 04:45] linxGnu commented on #54
Fyi @xrpdevs someone tried grocksdb on arm isa without problem

[2021-11-03 04:47] xrpdevs commented on #54
Will check this tomorrow, it's 4:43AM here and I need sleep.

I know illegal instruction comes from the prebuilt lib because I used GDB to run a trace, when switching to assembly layout I see its halted on an AVX2 instruction which my CPU doesn't support.

[2021-11-12 01:32] linxGnu commented on #54
@xrpdevs Hello, I wonder if your problem gone? If have, please don't hesitate to tell me. Thank.

[2021-11-12 01:38] xrpdevs commented on #54
Did you make any changes in your build setup? I don't use grocksdb as a dependency in any projects of my own, but it is a dependency of something I use. I'll download your latest and take a look, if build works then I will let the AvalancheGo and Flare networks people know to update their dependencies.

If it still has problems then I'll pull your upstream changes and try to fix then submit a PR f

[2021-11-12 01:44] linxGnu commented on #54
@xrpdevs oh, I have just adapted (nearly latest) rocksdb (6.25.3). Also remove builtin static lib after migrating at my own business. I think it's worth to take a look and may fix your problem.

[2021-11-12 01:47] xrpdevs commented on #54
Cool, did you see the issue with the libzstd.a file not being moved to the target dir in ./dist... ? That was why it was failing, perhaps the make arguments needed to be changed. I'll take a look in the morning.

[2021-11-12 01:52] linxGnu commented on #54
@xrpdevs yep, I know about it. But never think it affects shared_lib building because linker is the one responsible in this case.

Anyway, my latest release also fix `build.sh` script. Hope this fix your problems

[2021-11-19 01:52] linxGnu commented on #54
I will close this issue. Please reopen it if you still have problem. Thank you @xrpdevs

[2021-11-19 01:52] #54 closed

[2021-11-30 23:57] hiqsociety opened #60 "curious question, mind enlightening regarding batching?"
for batching writes (PUT), do I put the PutCF before the mutex lock? (faster) or after the mutex lock? can i do it before the mutex lock? the second version. is it ok?

first version
[code]

second version
[code]

[2021-12-01 11:31] g302ge opened #61 "go test failed"
I met this bug when I start the go test to run the inner unit test I got the error told me that I have no linked with Lz4 or other Lib, Why cause this error ?

[2021-12-01 15:17] LeeMaster commented on #61
I think in current situation using rocksdb in Go, we need a way to dump the options from the rocksdb kernel. Though the origin c.h doesn't support interface to access them .

[2021-12-03 07:08] linxGnu commented on #61
@LeeMaster

It will be impossible for me to help you if you do not provide any error logs and your build env.

Please take a look at my build script for dependencies like LZ4: https://github.com/linxGnu/grocksdb/blob/master/build.sh

In this way, you could update lib location to yours `INSTALL_PREFIX=$1` (this one, it could be `/usr/local` if you want)

[2021-12-04 19:15] LeeMaster commented on #61
But the strangry thing is that When I build the total lib with go build there is no error. But When I using the go test -v , will error

[2021-12-05 01:28] linxGnu commented on #61
@LeeMaster could you please give me your logs while running `go test -v`, and step by step of what you did. I would like to reproduce at my side.

[2021-12-15 17:31] fubss opened #62 "Iterator works weird with SetIterateUpperBound and 10.000 keys"
I can't test iterator with 10.000 keys. I try to run iteration several times on them, using `SetIterateUpperBound` in `ReadOptions`.
### Expected behavior
<details>
<summary>Successful logs</summary>

=== RUN   TestDrop
	-------->NewProvider intialization...
	-------->Opening DB and checking format...
	-------->RocksDB constructing...
	-------->Opening DB...
	-------->ParanoidChecks is: true
	----

[2021-12-17 10:00] fubss commented on #62
I tested it with [another gorocksdb API](https://github.com/line/gorocksdb), and the problem still there, so probably problem is in RocksDB itself or with my code...

[2021-12-18 12:21] linxGnu commented on #62
@fubss thank you for reporting. Let me take a look next week and feedback to you.

[2021-12-21 02:39] linxGnu commented on #62
@fubss I think there is bug in your code: https://github.com/fubss/grocksdb-test-2/blob/main/provider.go#L186-L188

Good one is:
[code]

[2021-12-21 02:39] linxGnu commented on #62
Since `.Data()` reference to C value, you should clone/copy first before free

[2021-12-21 11:14] fubss commented on #62
@linxGnu thank you for your answer.

I put your template in my code, but a problem is still there.

[2021-12-22 06:02] linxGnu commented on #62
@fubss I could reproduce the problem at my side:
- No problem if we remove the upper bound -> stable iterating
- When setting upper bound -> unstable

The problem might reside within RocksDB itself. In this way, I highly recommend you to check upper bound by yourself, rather than depending on RocksDB.

[2021-12-24 05:44] linxGnu commented on #62
@fubss I have figured out a bug and release the fix. Could you please try:

[code]

[code]

[2022-01-10 06:41] fubss commented on #62
Thank you for your help!

[2022-01-10 06:41] #62 closed

[2022-02-17 12:11] #61 closed

[2022-03-03 13:49] muthukrishnan24 opened #66 "Custom Comparator in Go"
Comparator interface needs Native method

`Native() *C.rocksdb_comparator_t`

Because of this, it is not possible to implement this interface.

[2022-03-08 07:05] muthukrishnan24 commented on #66
@linxGnu

[2022-03-08 07:49] linxGnu commented on #66
@muthukrishnan24 please forgive me that I did not fully understand your question?

Could you please describe it in simpler way?
- What you want to archive? New API? Expose native pointer?
- What is your motivation to do so

[2022-03-08 09:03] muthukrishnan24 commented on #66
I'm trying to create a Custom Comparator for a CF

[code]

Since Comparator needs to implement method `Native() *C.rocksdb_comparator_t`

Above code throws following errors

[code]
Directly referencing the type, also not possible since it is always unexported
[code]

[2022-03-09 03:20] linxGnu commented on #66
@muthukrishnan24 I will reproduce at my side and tell you.

[2022-03-09 06:49] linxGnu commented on #66
[code]

`a.h` file:
[code]

[2022-03-09 06:55] linxGnu commented on #66
@muthukrishnan24 I have updated the API to make your code built-able, as well as easier to create custom comparator:
- Using go code logic as `comparator`
- Using c code logic as `comparator` (I highly recommend this way)

The patch is included in the release: https://github.com/linxGnu/grocksdb/releases/tag/v1.6.47
PR for this patch: https://github.com/linxGnu/grocksdb/pull/67

I also gave an exa

[2022-03-09 07:44] muthukrishnan24 commented on #66
Thanks @linxGnu

[2022-03-09 08:02] #66 closed

[2022-03-21 10:45] muthukrishnan24 opened #70 "tagged version release for rocksdb v7.0.2?"

[2022-03-21 10:53] linxGnu commented on #70
@muthukrishnan24 I am waiting for v7.0.x to be stable. Normally, about 2-3 weeks after release. If there is no minor version, then I will tag a release.

So please stay tune.

[2022-03-21 10:54] linxGnu commented on #70
In the meantime, you could use my master branch, latest commit.

Its 7.0.2 already.

[2022-05-25 08:40] linxGnu opened #72 "Adjust block max size for Flash"
@unrealhoang @Permagate

As I research a lot on leveldb/rocksdb sst file, I recommend setting Block Max Size to at least 8MB and at most 32MB for Flash raft store.

[2022-05-25 08:52] linxGnu commented on #72
Example: https://github.com/linxGnu/grocksdb/blob/b52a8c84f3a20b33a10583b0defe597d7591d3e3/options_block_based_table.go#L104

[2022-05-25 12:50] linxGnu commented on #72
Disable filter might help in reduce io, sst file size. I think in most of cases , hit rate is pretty high. So we might not need bloom filter or any kind of filter.

[2022-06-26 19:46] hiqsociety opened #74 "i did the dbr.CompactRange(grocksdb.Range{nil, nil}) to trigger manual compaction but hv error below"
i did the dbr.CompactRange(grocksdb.Range{nil, nil}) to trigger manual compaction but hv error below

dbr.CompactRange(grocksdb.Range{nil, nil}) (no value) used as value

i saw the code in _test so just copied and paste but doesnt work.

how to make it work? thx in advance

[2022-07-19 05:46] #72 closed

[2022-07-19 05:46] linxGnu commented on #74
I am sorry for late reply. Could you please show me full error and your code. Thank

[2022-08-10 02:35] meilihao opened #78 "no DeleteFilesInRange api"

[2022-08-10 03:04] linxGnu commented on #78
@meilihao Could you please describe your issue

[2022-08-10 03:09] linxGnu commented on #78
@meilihao Could you please take a look at function `DeleteFileInRange` (no `s`)

[2022-08-10 03:10] meilihao commented on #78
I'am not found DeleteFilesInRange api.

[2022-08-10 03:12] linxGnu commented on #78
@meilihao here it is: https://github.com/linxGnu/grocksdb/blob/aac6cb380722018cbec5138b309bd1c51930b986/db.go#L1602-L1621

[2022-08-10 03:12] #78 closed

[2022-08-10 03:16] meilihao commented on #78
I'm all wrong, I just grep the wrong place

[2022-08-12 23:36] linxGnu commented on #74
I will close the ticket. Please feel free to reopen if you are still in trouble.

[2022-08-12 23:36] #74 closed

[2022-09-04 11:29] lishunan246 opened #85 "could not determine kind of name for C.rocksdb_backup_engine_open_opts"
I got these errors when running go build.

[code]

I am using Ubuntu 22.04 LTS, librocksdb-dev (6.11.4-3) from apt and grocksdb@v1.7.7.

Any help would be appreciated!

[2022-09-05 03:23] linxGnu commented on #85
Hello @lishunan246
It looks to me that you are using `grocksdb v1.7.7` which is compatible to latest rocksdb (v7.5.3)

However, your rocksdb (installed via api) is v6.11.4. From 6.11.4 to 7.x, there are many APIs changes (newly added, some are removed). That's why you see error when building

To fix this, please use `grocksdb v1.6.22`: https://github.com/linxGnu/grocksdb/releases/tag/v1.6.22

[2022-09-05 12:46] lishunan246 commented on #85
Thanks!
v1.6.22 works for me

[2022-09-05 12:46] #85 closed

[2022-09-17 00:45] anatol opened #90 "Add rocksdb sources to the go package"
Hi y'all,

I am trying to use this package for my go project and I found its installation/setup procedure quite complicated. By default the package gives following compilation error:

[code]

To use `grocksdb` bindings  additional steps are required to compile rocksdb and its dependencies.

A better solution would be to let cgo compile the rocksdb sources. Similar to how [sqlite3 go bindings](http

[2022-09-23 09:27] aureliar8 opened #91 "Documentation fix: Add -lbz2 link flag"
On ubuntu22, I had to add `-lbz2` to the `CGO_LDFLAGS` to successfully run `go build`

I'd suggest to add it in the Readme build flags:
[code]

Thanks fro your work

[2022-09-26 00:41] linxGnu commented on #91
Thank you for suggestion. I think it's reasonable to update the README.

To clarify why bz2 is needed by your case:
- your rocksdb was built with bz2 support
- it's root cause why you need to specify bz2 link

[2022-09-26 00:48] linxGnu commented on #91
I updated README. Thank you.

[2022-09-26 00:48] #91 closed

[2022-09-26 00:57] linxGnu commented on #90
@anatol Adding rocksdb and its dependency code base makes the repository heavy and makes compile time much higher than before.

Not only that, RocksDB is not C but C++. Making go <> c++ interoperability is very high cost.

[2022-09-26 20:49] anatol commented on #90
True, rocksdb is a heavy dependency and requires a lot of time to compile unfortunately.

You already use this C++-C bridge with your CGO method. Using amalgamated sources does not change anything here. In fact, joining sources into one compilation unit let's compiler use more optimizations.

[2022-10-09 09:57] peacess opened #93 "cannot use _Ctype_ulong(s) (value of type _Ctype_ulong) as type _Ctype_ulonglong in variable declaration"
v1.7.7   rocksdb v7.5.3
can not build in windows

grocksdb@v1.7.7\cache.go:79:74: cannot use _Ctype_ulong(s) (value of type _Ctype_ulong) as type _Ctype_ulonglong in variable declaration
grocksdb@v1.7.7\options.go:1569:96: cannot use _Ctype_ulong(windowSize) (value of type _Ctype_ulong) as type _Ctype_ulonglong in variable declaration
grocksdb@v1.7.7\options.go:1569:117: cannot use _Ctype_ulong(nu

[2022-10-13 01:53] linxGnu commented on #93
@peacess thank you very much for reporting the bug.
Please checkout version: https://github.com/linxGnu/grocksdb/tree/v1.7.9 which includes the fix.

Note: I don't have Window here, please let me know if it works

[2022-10-31 11:36] jyialive opened #99 "need rocksdb_column_family_handle_get_name"

[2022-11-06 22:58] #93 closed

[2022-11-11 03:55] linxGnu commented on #99
@jyialive
rocksdb_column_family_handle_get_name api was introduced recently.

You can use my branch: https://github.com/linxGnu/grocksdb/tree/adapt_rocksdb7.7.3

[2022-11-11 03:57] linxGnu commented on #99
I did not release a new version as waiting for RocksDB 7.7.x to be stable. Usually after 2 months